$primary: #a8bfc9;

$light-blue: #31c3bd;
$light-blue-hover: #65e9e4;

$light-yellow: #f2b137;
$light-yellow-hover: #ffc860;

$dark-navy: #1a2a33;
$semi-dark-navy: #1f3641;

$silver: #a8bfc9;
$silver-hover: #dbe8ed;

$text-soft-400: #868c98;
$text-sub-500: #525866;

$text-main-900: #0A0D14;

$stroke-soft-200: #E2E4E9;
$bg-weak-100: #F6F8FA;
$bg-white-0: #FFFFFF;

$stroke-soft-200: #E2E4E9;

$primary-base: #FF4A00;

// Class

* {
    padding: 0px;
    margin: 0;
    font-family: Inter;
}

.ml-8 {
    margin-left: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mt-18 {
    margin-top: 18px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-12 {
    margin-bottom: 12px;
}

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');