$primary: #a8bfc9;

$light-blue: #31c3bd;
$light-blue-hover: #65e9e4;

$light-yellow: #f2b137;
$light-yellow-hover: #ffc860;

$dark-navy: #1a2a33;
$semi-dark-navy: #1f3641;

$silver: #a8bfc9;
$silver-hover: #dbe8ed;

$text-soft-400: #868c98;
$text-sub-500: #525866;

$text-main-900: #0A0D14;

$stroke-soft-200: #E2E4E9;
$bg-weak-100: #F6F8FA;
$bg-white-0: #FFFFFF;

$stroke-soft-200: #E2E4E9;

$primary-base: #FF4A00;

$bg-soft-200: #E2E4E9;

$box-shadow-color: rgba(228, 229, 231, 0.24);
$box-shadow-color-2: rgba(82, 88, 102, 0.06);